<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
  <property name="LOG_BASE_DIR" value="${logging.baseDir:-/tmp}"/>
  <property name="FULL_DATETIME" value="%d{yyyy-MM-dd HH:mm:ss.SSS}"/>
  <!--<property name="LOG_PATTERN" value="${FULL_DATETIME} [%thread] %-5level %logger{30} - %msg%n"/>-->
  <property name="LOG_PATTERN" value="%logger{30} - %msg%n"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        ${LOG_PATTERN}
      </Pattern>
    </encoder>
  </appender>

  <logger name="TEST_DEBUG" level="debug" />
<!--  <logger name="RULES_DEBUGGING" level="trace" />-->
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
